extends layout.pug

block content
  h1 Books
  p
    a.button(href='/books/new') Add New Book
  br
  form(method="get", action="/books")
    input(type="text", name="search", placeholder="Search books by Title, Author, Genre, Year", value=searchQuery)
    button(type="submit") Search

  // Table to display books
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year 
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
          td
    //- Pagination?? 
  if totalPages > 1
    nav.pagination
      if currentPage > 1
        a(href=`/books?page=${currentPage - 1}&search=${searchQuery}`) Previous
      else
        span.disabled Previous
      each page in Array(totalPages).fill().map((_, i) => i + 1)
        if page === currentPage
          span.current #{page}
        else
          a(href=`/books?page=${page}&search=${searchQuery}`) #{page}
      if currentPage < totalPages
        a(href=`/books?page=${currentPage + 1}&search=${searchQuery}`) Next
      else
        span.disabled Next
            